.page-header {
  background: linear-gradient(
    195deg,
    #42424a,
    #191919
  );
}

.text-gradient.text-primary {
  background-image: linear-gradient(
    310deg,
    #2152ff,
    #21d4fd
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
